*{
    margin: 0;
}

.container{
    position: relative;
    width: 500px;
    height: 875px;
    outline: 1px solid black;
    margin: auto;
    transform: translate(0,5%);
    border-radius: 20px;
}

.board{
    position: relative;
    overflow-y:hidden;
    width: 450px;
    height: 250px;
    border: 1px solid black;
    margin: auto;
    top:20px;
    border-radius: 20px;
    text-align: end;
    display:flex;
    align-items:flex-end;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    box-sizing: border-box;
    padding-right: 15px;
}

.screen {
    position: relative;
    width: 435px;
    height: 50px;
    top: 20px;
    border: 1px solid black;
    text-align: right;
    line-height: 50px;
    padding-right: 15px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
}

.button-holder{
    position: relative;
    width: 450px;
    height: 500px;
    top: 5%;
    display: grid;
    grid-template-columns: 105px 105px 105px 105px;
    grid-gap: 10px 10px;
    margin: auto;
}

.grid-item{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    user-select: none;
    
}

.grid-item:active{
    transition: .15s;
    background-color: rgba(0, 0, 0, 0.5);
}

#equal{
    grid-column: 3 / span 2;
}